<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="form-login">
        <h2>Cr茅er votre compte</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      placeholder: 'favot@lewagon.fr',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :last_name,
                      placeholder: 'La Taupe',
                      label: 'Nom',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name" }%>
          <%= f.input :first_name,
                      label: 'Pr茅nom',
                      placeholder: 'Favot',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first_name" }%>
          <%= f.input :username,
                      placeholder: 'Favot59',
                      label: "Nom d'utilisateur",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "username" }%>
          <%= f.input :address,
                      label: "Adresse",
                      placeholder: '2 avenue des saules 59160 lille',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "address" }%>
          <%= f.input :password,
                      placeholder: '路路路路路路',
                      required: true,
                      label: 'Mot de passe',
                      hint: ("#{@minimum_password_length} caract猫res minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      placeholder: '路路路路路路',
                      label: 'Confirmation du mot de passe',
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :photo,
                      input_html: { class: 'd-none' },
                      label_html: { class: 'upload-photo'},
                      label: ' T茅l茅charger votre photo de profil',
                      as: :file %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Cr茅er mon compte", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
