<div class="container">
  <h1> Editer <%= @game.name %></h1>
  <%= simple_form_for @game do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit 'Editer', class: "btn btn-primary" %>
<% end %>
</div>
