<div class="container">
  <h2 class="text-center my-4">A quoi voulez-vous jouer ?</h2>

  <%= render 'shared/searchbar' %>

  <div class="row row-cols-3 mt-3">
      <% @games.each do |game| %>
        <div class="col mt-3">
          <div class="card h-100">
            <img src='<%= cl_image_path(game.photo.key) %>' class="card-img-top image-sizing" alt="game picture" >
            <div class="card-body">
              <h5 class="card-title"><%= game.name %></h5>
              <p class="card-text"><%= game.description.truncate(200) %></p>
              <%= link_to "Découvrir", game_path(game), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>





