<%= cl_image_tag @game.photo.key %>


<div class="container">
  <h2><%= @game.name %></h2>
  <p> <%= @game.description %></p>

  <%= link_to "Back to list", games_path, class: "btn btn-primary" %>
</div>

<%= console %>

