<div class="container">
  <h2 class="mt-4"><%= @game.name.capitalize %></h2>
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="d-flex align-items-center">
      <i class="fas fa-user-friends"></i>
      <p class="mb-0 pl-2"><%= @game.number_of_players %> joueurs</p>
    </div>
    <div class="d-flex align-items-center pl-4">
      <i class="far fa-clock"></i>
      <p class="mb-0 pl-2"><%= @game.duration.hour %> h <%= @game.duration.min %> min.</p>
    </div>
  </div>
  <%= cl_image_tag(@game.photo.key, :class => "image-full-width mb-4") %>

  <div class="d-flex justify-content-between">
    <div>
      <h3 class="mb-2">Description</h3>
      <p class="mb-4"> <%= @game.description %></p>
    </div>
    <div class="bg-white rounded p-4 ml-3 booking-card">
      <div class="d-flex mb-2 justify-content-center">
        <h5 class="mb-0 font-weight-bold"><%= number_with_precision(@game.price, precision: 2) %>€</h5>
        <p class="mb-0 font-weight-light">/soirée</p>
      </div>
      <%= simple_form_for [@game, @booking ] do |f| %>
        <%= f.input :start_at, as: :string, label: "Louer du :", input_html: {id: "range_start"} %>
        <%= f.input :end_at, as: :string, label: "au :", input_html: {id: "range_end"} %>
        <%= f.submit "Réserver", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>      
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">    
    <% if policy(@game).edit? %>
        <%= link_to "Editer", edit_game_path(@game), class: "btn btn-secondary" %>
    <% end %>
    <% if policy(@game).destroy? %>
        <%= link_to "Supprimer", game_path(@game), class: "btn btn-secondary", method: :delete, data: { confirm: "Supprimer : #{@game.name}" } %>
    <% end %>
  </div>  
</div>

<!-- <%= link_to "Back to list", games_path, class: "btn btn-primary" %> à supprimer ?-->


